@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;
    --muted: 0 0% 90%;
    --muted-foreground: 0 0% 50%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 0%;
    --card: 0 0% 98%;
    --card-foreground: 0 0% 0%;
    --border: 0 0% 90%;
    --border-primary: '#3ecf8e4d';
    --border-secondary: '#363636';
    --border-destructive: '#cf3f3f';
    --input: 0 0% 85%;
    --primary: 160 100% 25%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 14%;
    --secondary-foreground: 0 0% 100%;
    --accent: 160 100% 25%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 0 0% 100%;
    --ring: 160 100% 45%;
    --radius: 0.5rem;
    --chart-1: 160 100% 45%;
    --chart-2: 160 100% 35%;
    --chart-3: 160 100% 25%;
    --chart-4: 160 100% 15%;
    --chart-5: 160 100% 5%;
    --code-block: 160 100% 15%;
  }

  .dark:root {
    --background: 0 0% 7%;
    --foreground: 0 0% 100%;
    --muted: 0 0% 20%;
    --muted-foreground: 0 0% 70%;
    --popover: 0 0% 15%;
    --popover-foreground: 0 0% 100%;
    --card: 0 0% 15%;
    --card-foreground: 0 0% 100%;
    --border: 0 0% 20%;
    --border-primary: '#3ecf8e4d';
    --border-secondary: '#363636';
    --border-destructive: '#cf3f3f';
    --input: 0 0% 25%;
    --primary: 155 100% 19%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 100% 14%;
    --secondary-foreground: 0 0% 100%;
    --accent: 160 100% 25%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 0 0% 100%;
    --ring: 160 100% 45%;
    --chart-1: 160 100% 45%;
    --chart-2: 160 100% 35%;
    --chart-3: 160 100% 25%;
    --chart-4: 160 100% 15%;
    --chart-5: 160 100% 5%;
    --code-block: 160 100% 15%;
  }
}
